/** {
	border: black solid 2px;
}*/

body {
/*	text-align: center;*/
/*	width: 1300px;*/
	min-width: 855px;
	/*height: 600px;*/
	background-image: url("../img/table.jpg");

}

.hit,.stand,.double {
	margin: 30%;
}
.dealer {
/*	text-align: left;
	display: inline-block;
	position: relative;*/
	
}
.dealer img {
	width: 70px;
	margin-bottom: 1%;
}

/*.dealer-info {
	text-align: center;
	display: inline-block;
	position: absolute;
}
.dealer-name {
	margin-bottom: 30%;
}
.deal-total {
	width: 50px;
	
}*/

.dealArea {
	height: 150px;
	border: solid 1px white;
}

.comment {
	padding: 5px;
/*	height: 50px;*/
	color: yellow;
	font-size: 1.5em;

}

.bank, .bankWord {
/*	float: left;*/
	margin-top: 5px;
	margin-right: 10px;
	color: orange;

}
.betButton, .betAmt {
/*	float:right;*/
}

.smallImg {
	position: relative;
	max-height: 85%;
	margin: 10px;
}

.playerHand {

}
